<div id="footer">
    <div class="fContent">
        <div class="fBdy">
            <div class="locale">
                <p><i class="fa-solid fa-globe"></i>English</p>
                <p><i class="fa-solid fa-location-dot"></i>Nigeria</p>
            </div>

          <div class="socials">
            <a href="https://github.com/Ifzy99"><i class="fa-brands fa-github"></i></a>
            <a href="https://twitter.com/Ifzyman?s=09"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/olatunbosun-ifeoluwa"><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
          </div>
        </div>

        <div class="fBdy">
             <h6>Company</h6>
             <ul>
               <li>About Us</li>
               <li>Our Services</li>
               <li>Newsletter</li>
               <li>Patners</li>
               <li>Careers</li>
             </ul>
        </div>

        <div class="fBdy">
           <h6>Products</h6>
           <ul>
             <li>Responsive Websites</li>
             <li>Sites Maintenance</li>
             <li>Debugging</li>
           </ul>
      </div>

    </div>
      <div class="copyR"> Copyright © 2023 IFZY. All rights reserved.</div>
</div>