    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div id="about">
            <div class="aboutHeader">
                <h3>About Me</h3>
                <p>Full-Stack Expert</p>
            </div>
            <div class="aboutTxt">
                <p>I'm Ifeoluwa and I'm a Fullstack web developer with  about 2 years of experience. Proficient in HTML, CSS, Bootstrap,Tailwind CSS, React, NodeJs, MongoDB and Angular which has enabled me in building amazing and responsive websites be it single page sites or multiple page sites using MERN Stack. </p>
                <p>But don't take my word for it, down below is the link to my github repositories where you can check the projects I've worked on. My new goal is underway already, which is to improve my skills and master more programming languages so I can expand my web developer skill set.</p>
            </div>
    
        </div>
    </body>
    </html>