
.heroPg{
    background-image: url("https://cdn.pixabay.com/photo/2016/03/27/19/00/coffee-1283672_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90vh;
    opacity: 60%;
}
.heroTxt{
    text-align: center;
    padding: 16% 0;
    letter-spacing: 5px;
}
h6{
    color: #89a6a6;
    font-size: 1rem;

}
h1{
   font-family: 'Times New Roman', Times, serif;
   font-size: 3.5rem;
    color: gold;
    line-height: 1.5;
}


@media (max-width: 768px){
    .heroPg{
        min-height: 40vh;
        opacity: 60%;
        width: 100%;
    }
    .heroTxt{
        padding: 9% 0;
    }
    h1{
        font-size: 2rem;  
    }
    p{
        width: 80%;
        margin: 0 auto;
        font-size: 0.8rem;
    }
    
}
